@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #462c74;
  color: white;
}

.button-outline {
  @apply border-2 rounded-full px-4 py-2 border-mainPurple duration-200 ease-in-out uppercase hover:bg-mainPurple;
}

.button-fill {
  @apply border-2 rounded-full px-4 py-2 border-mainPurple duration-200 ease-in-out uppercase bg-mainPurple hover:bg-transparent;
}

.button-gradient {
  @apply border-2 rounded-full px-8 py-4 border-mainPurple transition-all duration-200 ease-in-out uppercase bg-gradient-to-r from-lightBlue to-mainPurple;
}

.button-gradient:hover {
  @apply bg-gradient-to-r from-mainPurple to-lightBlue;
}
